<!DOCTYPE html>
<html>
	<head>
		<title>Petconnect</title>
		<link rel="stylesheet" type="text/css" href="style.css" />
		<script defer src="../static/app.js"></script>
	</head>
	<body>
		<main>
			<button id="petBtn">Get Pets</button>

			<button id="ownerBtn">Get Owners</button>

			<h1>Pets and Owners</h1>

			<div id="petsList">
				<h2>List of Pets</h2>
				<ul id="pets"></ul>
			</div>

			<div id="ownersList">
				<h2>List of Owners</h2>
				<ul id="owners"></ul>
			</div>
		</main>
	</body>
</html>
